/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
    font-family: 'Quicksand', sans-serif;
}

.scoreboard-name,
.scoreboard-score {
    padding: 10px;
    text-align: center;
}

.scoreboard-name {
    font-weight: bold;
    font-size: 3em;
    border-bottom: 1px solid #ddd;
}


.btn {
    font-size: 1.8em;
    font-weight: 600;
}








