/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.scoreboard {
    font-family: 'Quicksand', sans-serif;
}

.scoreboard-name,
.scoreboard-score {
    padding: 10px;
    text-align: center;
}

.scoreboard-name {
    font-weight: bold;
    font-size: 3em;
    border-bottom: 1px solid #ddd;
}


.scoreboard-score {
    /* font-size: 2em; */
}








